<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="width=device-width, initial-scale=1.0">
        <title>Main page</title>
    </head>
    <body>
        <!-- First comment in this file LOL -->
        <h1>Hello, everyone!</h1>
        <p><s>It`s my first web page</s></p>
        <p>This C program print "Hello, world!"</p>
        <!--Тут пиздец творился-->
        <pre>
        int main() {
            printf("Hello, world!");
            return 0;
        }
        </pre>
        <hr>
        <code>int x = 2;</code>
        <hr>
        <p>H<sub>2</sub>SO<sub>4</sub></p>
    </body>
</html>